body {
    color: #33333;
    font-family: Arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex-grow: 1;
}

header {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

header a {
    text-decoration: none;
    color: #888888;
    margin-right: 1rem;
}

.portrait {
    width: 250px;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 1rem;
    padding: 1rem 0;
}